/*ADMIN CSS*/

#utv-masthead{
  margin-bottom: 10px;
}

.utv-admin a{
  font-weight: bold;
  font-size: 13px;
  outline: 0;
}

.utv-admin table a{
  font-weight: normal;
}

.utv-admin th a{
  font-weight: normal!important;
  font-size: inherit!important;
}

.utv-admin a:hover{
  color: #d54e21;
}

.utv-admin .button-primary, .utv-admin .button-secondary{
  margin-right: 5px!important;
  /*vertical-align: middle;*/
}

.utv-admin #albthumbnail, .utv-admin #vidthumbnail{
  width: 160px;
}

#utv-album-thumb-select div{
  display: inline-block;
  margin: 7px;
  vertical-align: top;
}

#utv-album-thumb-select img{
  width: 100px;
  height: auto;
  margin: 0!important;
}

.utv-formbox{
  margin-bottom: 15px;
  font-size: 13px;
}

.utv-top-formbox{
  margin-top: 15px;
}

.utv-formbox p{
  margin: 20px 0;
}

.utv-formbox a{
  margin: 5px 0;
}

.utv-formbox label{
  width: 220px;
  display: inline-block;
  font-size: 13px;
  margin-bottom: 5px;
}

.utv-formbox label.utv-valign{
  vertical-align: top;
}

.utv-formbox .utv-hint{
  display: block;
  font-style: italic;
  margin-top: 2px;
  color: #666;
}

.utv-formbox .button-secondary{
  margin-top: 5px;
}

/* Left and Right Columns */
.utv-left-column, .utv-fullwidth-column{
  width: 100%;
  display: block;
  vertical-align: top;
}

.utv-left-column .card, .utv-fullwidth-column .card{
  max-width: 100%!important;
  box-sizing: border-box;
}

.utv-right-column{
  display: block;
  vertical-align: top;
}

.utv-right-column .card{
  max-width: 100%!important;
  width: 100%;
  float: right;
  box-sizing: border-box;
}

.utv-uniform-card{
  padding: 2em!important;
}

/* Buttons */
.utv-formbox .utv-cancel, .utv-formbox .utv-ok{
  text-decoration: none;
  margin: 0;
  font-size: 13px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  display: inline-block;
  border: 1px solid transparent;
  font-weight: normal;
  color: #fff;
  height: 26px;
  line-height: 26px;
  padding: 0 10px;
}

.utv-actionbar .utv-cancel, .utv-actionbar .utv-ok{
  vertical-align: middle;
}

.utv-formbox .utv-cancel{
  background: #ca0000;
  border-color: #c10000 #a80000 #a80000;
  -webkit-box-shadow: 0 1px 0 #a80000;
  box-shadow: 0 1px 0 #a80000;
  text-shadow: 0 -1px 1px #a80000,1px 0 1px #a80000,0 1px 1px #a80000,-1px 0 1px #a80000;
}

.utv-formbox .utv-cancel:hover{
  background-color: #df0000;
  color: #fff!important;
  text-decoration: none;
  border-color: #800000;
}

.utv-formbox .utv-ok{
  background: #1a7308;
  border-color: #1a6d08 #176207 #176207;
  -webkit-box-shadow: 0 1px 0 #176207;
  box-shadow: 0 1px 0 #176207;
  text-shadow: 0 -1px 1px #176207,1px 0 1px #176207,0 1px 1px #176207,-1px 0 1px #176207;
}

.utv-formbox .utv-ok:hover{
  background-color: #1b7909;
  color: #fff!important;
  text-decoration: none;
  border-color: #3b5323;
}

.utv-formbox select, .utv-formbox input[type='text'], .utv-formbox input[type='number']{
  width: 100%;
  display: block;
}

.utv-formbox input[type='checkbox']{
  display: block;
}

.utv-formbox .wp-list-table input[type='checkbox']{
  display: inline-block;
}

.utv-formbox input.utv-mini-textbox{
  width: 100px!important;
  display: inline-block!important;
}

.utv-formbox li{
  list-style-type: square;
  line-height: 1.7em;
}

.utv-formbox ul{
  margin-left: 15px;
  font-size: 13px;
}

.utv-formbox .utv-actionbar{
  padding: 0!important;
  margin: 0!important;
}

.utv-preview-thumb{
  margin: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 5px solid #eee;
  max-width: 90px;
  max-height: 90px;
}

.utv-link-button{
  border: 0;
  font-size: 13px;
  background-color: transparent;
  padding: 0;
  margin: 3px 0;
  color: #21759b;
  display: inline-block;
  line-height: 1.6em;
}

.utv-link-button:hover{
  color: #d54e21;
  cursor: pointer;
}

.utv-link-submit-button{
  font-weight: normal!important;
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border: 1px solid #ccc;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #555;
  background: #f7f7f7;
  -webkit-box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
  box-shadow: inset 0 1px 0 #fff,0 1px 0 rgba(0,0,0,.08);
  vertical-align: middle;
}

.utv-link-submit-button:hover{
  background: #fafafa;
  border-color: #999;
  color: #222!important;
}

.utv-admin-error{
  font-size: 16px;
  color: #f00;
}

.utv-h3{
  display: inline-block;
}

.utv-sub-h3{
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}

.utv-postbox{
  font-family: Georgia,'Times New Roman','Bitstream Charter',Times,serif;
  font-size: 15px;
  font-weight: normal;
  padding: 7px 10px;
  margin: 0;
  line-height: 1em;
  cursor: default!important;
}

.utv-error-code{
  color: #c00000;
  border: 1px solid #c00000;
}

.utv-ok-code{
  color: #458B00;
  border: 1px solid #458b00;
}

.utv-error-code, .utv-ok-code{
  font-size: 14px;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  margin-left: 1px;
}

.utv-sortable-handle{
  position: absolute;
  top: 7px;
  left: 7px;
  font-weight: bold;
  color: #21759b;
  font-size: 14px;
  cursor: pointer;
  padding: 2px 8px 5px 8px;
}

.utv-sortable-handle:hover{
  color: #d54e21;
}

.utv-sortable-handle-cont{
  position: relative;
}

.utv-sortable-handle-cont img{
  margin-left: 35px;
}

.utv-sortable-placeholder{
  background-color: #e3e3e3!important;
  height: 150px;
}

.column-utv-vidthumbnail, .column-utv-albthumbnail{
  position: relative;
}

.column-utv-albthumbnail a, .column-utv-vidthumbnail a{
  margin-left: 35px;
}

.column-utv-vidthumbnail img:hover, .column-utv-albthumbnail img:hover{
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.25);
}

.utv-invalid-field{
  border: 1px solid #e50000!important;
}

.utv-publish, .utv-unpublish{
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.utv-publish{
  background: transparent url('../public/img/ok3.png') no-repeat 0 0;
}

.utv-unpublish{
  background: transparent url('../public/img/cancel3.png') no-repeat 0 0;
}

.utv-row-title{
  font-size: 14px!important;
  font-weight: bold!important;
}

.utv-row-divider{
  color: #ddd;
  font-size: 13px;
  margin: 0 2px;
}

.utv-row-actions{
  visibility: visible;
}

.utv-hide{
  display: none!important;
}

/* Iframe */
.utv-flexvideo{
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.utv-flexvideo-16x9{
  padding-bottom: 56.25%;
}

.utv-flexvideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

/* Playlist Preview */
.utv-playlist-preview{
  min-height: 250px;
}

.utv-playlist-preview-count{
  font-size: 14px;
  margin-left: 10px;
}

.utv-playlist-preview-item{
  margin: 10px 0;
}

.utv-playlist-preview-item-num{
  font-size: 18px;
  vertical-align: top;
  width: 35px;
  margin-top: 5px;
  margin-right: 8px;
  text-align: right;
  display: inline-block;
}

.utv-playlist-preview-form{
  vertical-align: top;
  margin-top: 10px;
  font-size: 14px;
  display: inline-block;
  margin-left: 5px;
}

.utv-playlist-item-title{
  display: block;
  margin: 5px 0;
}

.utv-playlist-item-duration{
  display: block;
  margin: 5px 0;
}

.utv-playlist-choice img{
  width: 100px;
  height: auto;
  margin: 0;
  border: 5px solid #eee;
  border-radius: 3px;
}

#utv-playlist-preview-loader{
  width: 265px;
  margin: 0 auto;
  display: block;
}

#utv-playlist-preview-empty{
  font-size: 14px;
  margin: 50px auto 0 auto;
  width: 200px;
  text-align: center;
  display: block;
}

.utv-album-thumb-overlay, .utv-playlist-choice-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0!important;
  padding: 0!important;
  opacity: 0;
  display: block;
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  -webkit-transition: opacity .1s linear;
  background: transparent url('../public/img/checkf.png') no-repeat 0 0;
}

.utv-album-thumb-choice, .utv-playlist-choice{
  position: relative;
  cursor: pointer;
}

.utv-playlist-choice{
  display: inline-block;
}

.utv-album-thumb-choice:hover img{
  border-color: #397fdf;
}

.utv-album-thumb-choice:hover .utv-album-thumb-overlay{
  opacity: 1.0;
}

.utv-album-thumb-choice-active img, .utv-playlist-choice-active img{
  border-color: #397fdf;
}

.utv-album-thumb-choice-active .utv-album-thumb-overlay, .utv-playlist-choice-active .utv-playlist-choice-overlay{
  opacity: 1.0;
}

.utv-js-errors{
  text-align: center;
  display: block;
  width: 100%;
  color: red;
  font-weight: bold;
  font-size: 13px;
}

.utv-playlist-local, .utv-playlist-web, .utv-playlist-both{
  border-radius: 8px;
  display: block;
  width: 15px;
  height: 15px;
  margin: 5px;
}

.utv-playlist-local{
  background: #2a61d0;
}

.utv-playlist-web{
  background: #ea5532;
}

.utv-playlist-both{
  background: #34c556;
}

#utv-playlist-sync-legendref{
  margin: 10px 0;
}

#utv-playlist-sync-legendref div{
  display: inline-block;
}

#utv-playlist-sync-legendref label{
  width: auto;
  margin-right: 5px;
}

#utv-playlist-sync-legendref span{
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
}

#utv-playlist-sync-selectall, #utv-playlist-sync-selectnone{
  display: inline-block;
  margin: 0 5px;
  font-size: 13px;
  text-decoration: underline;
  cursor: pointer;
}

.utv-formbox .tablenav.top{
  display: none;
}

.utv-formbox .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-primary~td:not(.check-column){
  padding-bottom: 10px;
  font-size: 14px;
}

.utv-formbox .wp-list-table .utv-row-actions{
  margin-top: 10px;
}

.utv-formbox .wp-list-table .utv-row-actions a{
  font-size: 14px;
}

#utv-videoplayer-dimensions-option{
  display: block;
}

@media screen and (min-width: 782px){

  .utv-row-actions{
    visibility: hidden;
    margin-top: 3px;
  }

  .utv-formbox tbody tr:hover .utv-row-actions{
    visibility: visible;
  }

  .utv-formbox select, .utv-formbox input[type='text'], .utv-formbox input[type='number'], .utv-formbox input[type='checkbox']{
    display: inline-block;
    margin-top: 0;
  }

  .utv-formbox select, .utv-formbox input[type='text'], .utv-formbox input[type='number']{
    width: 300px;
  }

  .utv-formbox .utv-hint{
    margin-left: 225px;
  }

  .utv-formbox .button-secondary{
    margin-top: 0;
  }

  .utv-formbox .tablenav.top{
    display: block;
  }

  .utv-formbox .wp-list-table tr:not(.inline-edit-row):not(.no-items) td.column-primary~td:not(.check-column){
    padding-bottom: inherit;
    font-size: inherit;
  }

  .utv-formbox .wp-list-table .utv-row-actions a{
    font-size: inherit;
  }

  .utv-formbox label{
    margin-bottom: 0;
  }

  #utv-videoplayer-dimensions-option{
    display: inline-block;
  }

}

@media screen and (min-width: 1250px) {

  .utv-left-column{
    width: 585px;
    float: left;
  }

  .utv-right-column{
    margin-left: 605px;
  }

  .utv-options-column{
    width: 645px;
  }

}

/* Retina CSS*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {

  .utv-publish{
    background: transparent url('../public/img/ok3@2x.png') no-repeat 0 0;
    background-size: 20px 20px;
  }

  .utv-unpublish{
    background: transparent url('../public/img/cancel3@2x.png') no-repeat 0 0;
    background-size: 20px 20px;
  }

}
