/* Gallery View */
.utv-gallery{
  width: auto;
  margin: 0 auto;
}

.utv-gallery .utv-breadcrumb{
  margin-bottom: 10px;
}

.utv-gallery .utv-breadcrumb .utv-albumcrumb{
  font-weight: bold;
}

.utv-gallery .utv-breadcrumb a{
  font-size: 16px!important;
  text-decoration: none!important;
  font-weight: bold;
}

.utv-gallery .utv-breadcrumb span{
  font-size: 16px;
}

.utv-gallery .utv-album img{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
  background: none!important;
  transition: opacity .2s ease-in-out;
  padding: 0;
  margin: 0;
  border: 0;
}

.utv-gallery.utv-albums .utv-thumb img:hover{
  opacity: .85;
}
