/* Gallery View */
.utv-gallery{
  width: auto;
  margin: 0 auto;
}

.utv-breadcrumb{
  margin-bottom: 10px;
}

.utv-breadcrumb span{
  font-size: 16px;
}

.utv-breadcrumb .utv-albumcrumb{
  font-weight: bold;
}

.utv-breadcrumb .utv-albumscrumb{
  cursor: pointer;
}

.utv-gallery .utv-album img{
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6);
  background: none!important;
  transition: opacity .2s ease-in-out;
  padding: 0;
  margin: 0;
  border: 0;
}

.utv-gallery.utv-albums .utv-thumb img:hover{
  opacity: .85;
}

.utv-gallery-paging{
  /*height: 20px;*/
  text-align: right;
  padding: 10px;
}

.utv-gallery-paging-active{
  font-weight: bold;
  background-color: #777;
  color: #fff;
  /*border-radius: 50%;*/
  min-width: 20px;
}

.utv-gallery-paging-handle{
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
  /*height: 20px;*/
  display: inline-block;
  text-align: center;
  line-height: 20px;
}
