.utv-inner-wrapper{
  text-align: left;
  display: inline-block;
}

.utv-inner-wrapper img{
  display: block;
}

.utv-gallery .utv-thumb,
.utv-panel .utv-thumb{
  display: inline-block;
  margin: 10px 10px;
  vertical-align: top;
  padding: 0;
}

.utv-gallery .utv-thumb a,
.utv-panel .utv-thumb a{
  background-color: #000;
  display: block;
  cursor: pointer;
}

.utv-gallery .utv-thumb a.utv-square,
.utv-panel .utv-thumb a.utv-square{
  position: relative;
}

.utv-gallery .utv-thumb a.utv-rect,
.utv-panel .utv-thumb a.utv-rect{
  position: relative;
}

.utv-gallery .utv-thumb span,
.utv-panel .utv-thumb span{
  font-size: 16px;
  display: block;
  line-height: 1.6em;
  margin-top: 4px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.utv-gallery .utv-play-btn,
.utv-panel .utv-play-btn{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0!important;
  padding: 0!important;
  opacity: 0;
  display: block;
  transition: opacity .1s linear;
}

.utv-gallery .utv-thumb:hover .utv-play-btn,
.utv-panel .utv-thumb:hover .utv-play-btn{
  opacity: .85;
}

.utv-icon-default .utv-thumb .utv-play-btn{
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background: transparent url('../img/play_icon.png') no-repeat 0 0;
}

.utv-icon-blue .utv-thumb .utv-play-btn{
  width: 48px;
  height: 34px;
  margin: -17px 0 0 -24px;
  background: transparent url('../img/play_icon_blue.png') no-repeat 0 0;
}

.utv-icon-red .utv-thumb .utv-play-btn{
  width: 48px;
  height: 34px;
  margin: -17px 0 0 -24px;
  background: transparent url('../img/play_icon_red.png') no-repeat 0 0;
}

/* Retina CSS*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .utv-icon-blue .utv-play-btn{
    background: transparent url('../img/play_icon_blue@2x.png') no-repeat 0 0;
    background-size: 48px 34px;
  }

  .utv-icon-red .utv-play-btn{
    background: transparent url('../img/play_icon_red@2x.png') no-repeat 0 0;
    background-size: 48px 34px;
  }
}
