{
  "presets": [
    [
      "@babel/preset-env",
      {
      "targets": ">1%, not ie 11",
      "useBuiltIns": false,
      "debug": false,
      "modules": false
    }],
    [
      "@babel/preset-react", {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": []
}
