{
  "presets": [
    [
      "@babel/preset-env",
      {
      "targets": {
        "ie": "11"
      },
      "useBuiltIns": false,
      "debug": false,
      "modules": false
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
