// popup box
.utv-mfp-bottom-bar{
  padding-top: 10px;
  width: 100%;
  cursor: auto;
  font-size: 16px;
  font-weight: normal;
}

.mfp-iframe-scaler{
  overflow: inherit;
  position: relative;
}

.utv-mfp-iframe-scaler button.mfp-close{
  background-color: transparent!important;
  background-image: none!important;
  outline: none!important;
}

.utv-mfp-iframe-scaler button.mfp-close:hover{
  background-color: transparent!important;
  background-image: none!important;
  border-radius: 0!important;
  -webkit-border-radius: 0!important;
  -moz-border-radius: 0!important;
  outline: none!important;
}

.utv-mfp-iframe-scaler button.mfp-close:focus,
.ut-mft-iframe-scaler button.mfp-close{
  outline: none!important;
}

.mfp-container.mfp-has-meta{
  .utv-mfp-bottom-bar{
    background: #ddd;
    padding: 15px;
  }

  .mfp-title{
    color: #111;
    font-weight: bold;
  }

  .mfp-description{
    line-height: 1.3;
    margin-top: 10px;
  }
}
