.utv-panel-thumbnails,
.utv-video-gallery-thumbnails {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  align-items: start;
  grid-gap: 20px; // default
  padding: 20px; // default

  img {
    display: block;
  }
}

.utv-gallery .utv-thumbnail,
.utv-panel .utv-thumbnail {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  padding: 0;

  a {
    background-color: #000;
    display: block;
    cursor: pointer;
    position: relative;
  }

  span  {
    font-size: 16px;
    display: block;
    line-height: 1.6em;
    margin-top: 4px;
    margin-left: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.utv-gallery .utv-play-btn,
.utv-panel .utv-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  border: 0!important;
  padding: 0!important;
  opacity: 0;
  display: block;
  transition: opacity .1s linear;
}

.utv-gallery .utv-thumbnail:hover .utv-play-btn,
.utv-panel .utv-thumbnail:hover .utv-play-btn {
  opacity: .85;
}

.utv-icon-default .utv-play-btn{
  width: 48px;
  height: 48px;
  margin: -24px 0 0 -24px;
  background: transparent url('../img/play_icon.png') no-repeat 0 0;
}

.utv-icon-blue .utv-play-btn{
  width: 48px;
  height: 34px;
  margin: -17px 0 0 -24px;
  background: transparent url('../img/play_icon_blue.png') no-repeat 0 0;
}

.utv-icon-red .utv-play-btn{
  width: 48px;
  height: 34px;
  margin: -17px 0 0 -24px;
  background: transparent url('../img/play_icon_red.png') no-repeat 0 0;
}

/* Retina CSS*/
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .utv-icon-blue .utv-play-btn{
    background: transparent url('../img/play_icon_blue@2x.png') no-repeat 0 0;
    background-size: 48px 34px;
  }

  .utv-icon-red .utv-play-btn{
    background: transparent url('../img/play_icon_red@2x.png') no-repeat 0 0;
    background-size: 48px 34px;
  }
}
